@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: 'Playfair Display', serif;

    --color-gold: #c5a059;
    --color-gold-light: #dfc18c;
    --color-dark: #0a0a0a;
    --color-dark-soft: #161616;
}

@layer base {
    body {
        @apply bg-dark text-white selection:bg-gold selection:text-dark;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-serif;
    }
}

